src/main/resources/wsdl/WebServiceATM.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/WebServiceATM/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WebServiceATM"
	targetNamespace="http://www.example.org/WebServiceATM/">

	<!-- __________________POLICY__________________ -->

	<!-- Policy for Username Token with hashed password, sent from client to 
		server only -->
	<wsp:Policy wsu:Id="UsernameToken"
		xmlns:wsp="http://www.w3.org/ns/ws-policy"
		xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
		xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
		<sp:SupportingTokens>
			<wsp:Policy>
				<sp:UsernameToken
					sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
					<wsp:Policy>
						<sp:HashPassword />
					</wsp:Policy>
				</sp:UsernameToken>
			</wsp:Policy>
		</sp:SupportingTokens>
	</wsp:Policy>

	<!-- Policy for symmetric binding, using an ephemeral key generated by the 
		client and sent to the server as part of the request, using asymmetric encryption 
		with the server public key to secure the symmetric key. -->
	<wsp:Policy wsu:Id="SymmEncr"
		xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
		xmlns:wsp="http://www.w3.org/ns/ws-policy"
		xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
		xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
		<sp:SymmetricBinding>
			<wsp:Policy>
				<sp:ProtectionToken>
					<wsp:Policy>
						<sp:X509Token
							sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
							<wsp:Policy>
								<sp:RequireDerivedKeys />
								<sp:RequireThumbprintReference />
								<sp:WssX509V3Token10 />
							</wsp:Policy>
						</sp:X509Token>
					</wsp:Policy>
				</sp:ProtectionToken>
				<sp:AlgorithmSuite>
					<wsp:Policy>
						<sp:Basic128Rsa15 />
					</wsp:Policy>
				</sp:AlgorithmSuite>
			</wsp:Policy>
		</sp:SymmetricBinding>
		<sp:Wss11>
			<wsp:Policy>
				<sp:MustSupportRefKeyIdentifier />
				<sp:MustSupportRefThumbprint />
				<sp:MustSupportRefEncryptedKey />
			</wsp:Policy>
		</sp:Wss11>
	</wsp:Policy>

	<!-- Policy for encrypting the message body. -->
	<wsp:Policy wsu:Id="EncrBody"
		xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
		xmlns:wsp="http://www.w3.org/ns/ws-policy"
		xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
		<sp:EncryptedParts>
			<sp:Body />
		</sp:EncryptedParts>
	</wsp:Policy>


	<wsdl:types>

		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://www.example.org/WebServiceATM/"
			elementFormDefault="unqualified"
			targetNamespace="http://www.example.org/WebServiceATM/" version="1.0">

			<!-- _________ELEMENTI STRUTTURATI__________ -->

			<xs:complexType name="utente">
				<xs:sequence>
					<xs:element name="idUtente" type="xs:integer" />
					<!-- <xs:element name="nome" type="xs:string" /> -->
					<!-- <xs:element name="cognome" type="xs:string" /> -->
					<xs:element name="idcontoCorrente" type="xs:integer" />
					<xs:element name="idcartaDebito" type="xs:integer" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="contoCorrente">
				<xs:sequence>
					<xs:element name="idcontoCorrente" type="xs:integer" />
					<xs:element name="idUtente" type="xs:integer" />
					<xs:element name="idcartaDebito" type="xs:integer" />
					<xs:element name="saldo" type="xs:integer" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="cartaDebito">
				<xs:sequence>
					<xs:element name="idcartaDebito" type="xs:integer" />
					<!-- <xs:element name="dataScadenza" type="xs:date" /> -->
					<xs:element name="PIN" type="xs:integer" />
					<xs:element name="idUtente" type="xs:integer" />
					<xs:element name="idcontoCorrente" type="xs:integer" />
				</xs:sequence>
			</xs:complexType>

			<!-- ________________ SCHEMA MESSAGGI ______________ -->

			<xs:complexType name="prelievoRequestSchema">
				<xs:sequence>
					<xs:element minOccurs="0" name="cartaDebito"
						type="tns:cartaDebito" />
					<xs:element minOccurs="0" name="pin" type="xs:integer" />
					<xs:element minOccurs="0" name="importo"
						type="xs:integer" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="prelievoResponseSchema">
				<xs:sequence>
					<xs:element minOccurs="0" name="result"
						type="xs:boolean" />
				</xs:sequence>
			</xs:complexType>

			<!-- ________________ ELEMENTI USATI NEI MESSAGGI _____________ -->

			<xs:element name="prelievoRequestEl"
				type="tns:prelievoRequestSchema" />
			<xs:element name="prelievoResponseEl"
				type="tns:prelievoResponseSchema" />


		</xs:schema>

	</wsdl:types>

	<wsdl:message name="prelievoRequestMess">
		<wsdl:part element="tns:prelievoRequestEl" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="prelievoResponseMess">
		<wsdl:part element="tns:prelievoResponseEl"
			name="parameters">
		</wsdl:part>
	</wsdl:message>

	<wsdl:portType name="WebServiceATM">
		<wsdl:operation name="prelievo">
			<wsdl:input message="tns:prelievoRequestMess"
				name="prelievoRequestMess">
			</wsdl:input>
			<wsdl:output message="tns:prelievoResponseMess"
				name="prelievoResponseMess">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="WebServiceATMSOAP"
		type="tns:WebServiceATM">
		<!-- POLICY a livello di binding, è richiesto UsernameToken per tutte le 
			operazioni -->
		<!-- <wsp:PolicyReference
			xmlns:wsp="http://www.w3.org/ns/ws-policy" URI="#UsernameToken" /> -->

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="prelievo">
			<!-- POLICY a livello di operazione, è richiesta crittazione simmetrica 
				per le operazioni di prelievo -->
			<!-- <wsp:PolicyReference
				xmlns:wsp="http://www.w3.org/ns/ws-policy" URI="#SymmEncr" /> -->

			<soap:operation soapAction="" style="document" />
			<wsdl:input name="prelievoRequestMess">
				<!-- POLICY a livello di messaggio, è richiesto la crittazione del body 
					del messaggio in input -->
				<!-- <wsp:PolicyReference
					xmlns:wsp="http://www.w3.org/ns/ws-policy" URI="#EncrBody" /> -->

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="prelievoResponseMess">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="WebServiceATM">
		<wsdl:port binding="tns:WebServiceATMSOAP"
			name="WebServiceATMSOAP">
			<soap:address
				location="http://localhost:8080/ATMservice/services/atmService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>